body{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
  font-weight: 300 !important;
  font-size: 15px !important;
  color: #ffffff !important;
}

.App {
  text-align: center;
  height: 100%;
}

.generate-workout-page {
  padding-top: 50px;
}

.workout-layout ol {
  // width: fit-content;
  width: 100%;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: unset;
}

.workout-layout {
  // padding-top: 40px;
  width: 100%;
  text-align: left;
  margin: auto;
  display: flex;
  gap: 50px;
}
.week-btn-style {
  width: 200px;
  display: flex;
  gap: 2px;
}

.btn-style {
  margin: 10px 0;
  height: 40px;
  background-color: rgb(220, 125, 1) !important;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700 !important;
  letter-spacing: 1px;
  width: 100%;
  border: none;
  color: #000 !important;
  &:hover {
    background-color: rgb(255, 145, 0);
    cursor: pointer;
  }

  &:disabled {
    cursor: pointer;
    background: rgb(42, 42, 42) !important;
  }

  &:disabled {
    background-color: #4f4f4f !important;
  }
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.input-box-style {
  padding: 5px;
  margin: 10px;
}

.first-record-style {
  display: flex;
  align-items: center;
  background-color: rgb(206, 124, 0);
  color: #282c34;
  margin-top: 20px;
  position: sticky;
  top: 0;

  // box-shadow: 1px 1px 2px 1px rgb(204, 203, 203);

  h4 {
    padding-left: 48px;
  }
}

.record-style {
  display: flex;
  align-items: center;
  width: 100%;
  // cursor: pointer;
  // box-shadow: 1px 1px 2px 1px rgba(154, 153, 153);
  background-color: #1d1d1f;
  // border:0.5px solid rgb(255, 174, 0)
  margin: 2px 0px;
  box-shadow: 0 1px 9px 1px rgba(0, 0, 0, 0.28);
  // -webkit-box-shadow: 0 1px 9px 1px rgba(36, 39, 62, 0.28);
}

.record-style:hover {
  // background-color: rgb(223, 222, 222);
  background-color: #242426;
}

.record-style > div {
  width: 150px;
  // border: .1px solid rgb(204, 203, 203);
  height: max-content;
}

.record-style > div:hover {
  // font-weight: 500;
  // font-size: 16px;
}

.input-style {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 40px;
  width: 70%;
  row-gap: 50px;
  column-gap: 53px;
  margin: auto;
}

.input-style #standard-basic {
  /* width: 10px; */
  padding: 10px;
  /* background-color: #282c34; */
}

.exp-field-style {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  width: 150px !important;
  align-items: center;
}

.update-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 11px;
  width: 50px;
  padding: 8px 12px;
  background-color: #000000;
  border: 1px solid #676767;
  margin: 10px;
  color: #5d5d5d;
cursor: pointer;
  &:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
  }
}
.view-container {
  width: 97%;
  margin:  auto;
  height: 500px;
  // overflow-y: auto;
}

.header {
  // background-image: linear-gradient(to bottom right, rgb(0, 0, 46), rgb(131, 9, 131));
  // background-color: rgba(17, 40, 75, 0.9);
  // background-color: rgba(0, 0, 0, 0.9);
  background-color: #000000;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
}
.nav-img-style{
  // background-color: #17494d !important;
  // padding: 15px 8px !important;
  // border-radius: 50%;
  margin-left: 10px;
}
.nav-selected-style{
  background-color: #173b38 !important;
  color: #acacac !important;
}
.nav-menu{
  width: 100% ;
  display: flex;
  align-items: center;
  height: 30px;
  padding: 22px 0;
  color: rgb(104, 104, 104);
  text-align: center;
  justify-content: start;
}
.nav-menu:hover{
  background-color: #173b38 !important;
  width: 100%;
  // padding: 10px;
  cursor: pointer;
  color: #acacac !important;
}
.side-bar{
height: 100%;
width: 180px;
position: absolute;
left: 0;
top: 0;
margin-top: 60px;
background-color: #151b1e;
.nav-container{
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  // gap: 2px;
  color: black;
  width: 100%;
  font-size: 12px;
  padding: unset;
}


// a{
//   color: rgb(104, 104, 104)  !important;
// &:hover  {
//   color: #acacac !important;

//   }
// }

}
.login-btn{
  cursor: pointer;
  margin: 20px;
}
.menu-bar-style {
  display: flex;
  justify-content: space-around;
  // gap: 20px;
  width: 50%;
}

.menu-bar-style > div {
  font-family: cursive;
  font-size: 16px;
}

.menu-bar-style > div:hover {
  cursor: pointer;
}

.selected-style {
  a {
    @keyframes border_anim {
      0% {
        width: 0%;
      }
      100% {
        width: 100%;
      }
    }
    font-weight: 500;
    // color: rgb(238, 208, 40) !important;
    color: #fff !important;
    // border-bottom: 3px solid white;
    // background-color: #09193a;
    // text-decoration: underline #2871c5 !important;
    border-bottom: 2px solid #ff9a03 !important;
    padding: 20px 5px;
    // padding-bottom: 28px;
    // transition:  ease-in 0.3s;
    cursor: pointer;
    animation: border_anim 3s linear forwards;
  }
}

.fallback-msg {
  font-weight: 500;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.card-style {
  // background: rgba(13, 13, 57, 0.2);
  background-color: #0d0d0d;
  min-width: 420px;
  min-height: 400px;

  // background-image: linear-gradient(to bottom right, rgb(0, 0, 46), rgb(131, 9, 131));
  box-shadow: 2px 1px 2px 1px rgb(27, 26, 26);
  padding: 30px 40px 20px 40px;
  height: auto;
  // border-radius: 10px;
  &:hover {
    box-shadow: 2px 1px 2px 1px rgb(27, 8, 8);
  }

  .workout-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    .sno-style {
      font-size: 16px;
      margin-right: 5px;
      font-weight: 100;
    }
  }

  .add-btn {
    width: 28px;
    float: right;
    cursor: pointer;
    opacity: 75%;

    &:hover {
      width: 30px;
      opacity: 100%;
      // background-color: green($color: #000000);
    }
  }

  p {
    // color: #000;
    font-size: 16px;
    font-weight: 100;
  }
}

.edit-btn {
  width: 12px;
  margin-left: 10px;

  &:hover {
    cursor: pointer;
    width: 12.5px;
  }
}

.refresh-btn {
  width: 14px;
  margin-left: 20px;

  // margin-top: 10px;
  &:hover {
    cursor: pointer;
    width: 14.5px;
  }
}

.type-style {
  padding-top: 20px;
  margin-left: 30px;
  min-width: 20%;
  max-width: 20%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  .css-ahj2mt-MuiTypography-root {
    font-size: 14px !important;
  }

  .css-vqmohf-MuiButtonBase-root-MuiRadio-root {
    padding: 7px;
  }
}

.timing-style {
  display: flex;
  justify-content: space-between;
  width: 70%;
}

.card-list {
  font-size: 16px;
  font-weight: 200;
  margin: 5px 0;
  // background-color: #918e8e;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  // color: #000000 !important;
  width: max-content;

  &:hover {
    // cursor: pointer;
  }
}

.header ul {
  display: flex;
  padding: 8px;
  justify-content: space-around;
  list-style: none;
  text-decoration: none;
  text-underline-offset: none;
  color: black;
  width: 100%;

  a:-webkit-any-link {
    font-size: 13px;
    margin-left: 20px;
    margin-bottom: 15px;
    text-decoration: none;
    color: rgb(180, 180, 180);
    &:hover {
      font-weight: 500;
      color: white;
    }
  }
}

.header {
  .menu-container {
    width: 60%;
  }
}

.search-container {
  width: 15%;
  display: flex;
  align-items: center;
  float: right;
  justify-content: end;
  width: 25%;

  button {
    padding: 10px;
  }
}

a:-webkit-any-link {
  text-decoration: none;
}

.home-logo {
margin-left: 20px;
  display: flex;
  align-items: center;
  gap:5px;
  justify-content: space-around;
  span {
    color: rgb(255, 149, 1) !important;
    font-size: 50px !important;
    margin-left: 15px;
  }
  img{
    // width: 70px !important;
    margin: 5px 0 !important;
  }

  &:hover {
    cursor: pointer;

    img {
      // width: 61.2px;
    }

    span {
      color: rgb(255, 172, 17) !important;
      font-size: 15.2px !important;
    }
  }

  img {
    width: 60px;
  }

  span {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: 700;
  }
}

.css-sghohy-MuiButtonBase-root-MuiButton-root {
  background-color: #282c34 !important;
  color: rgb(199, 199, 199) !important;
  width: 210px;
  border-radius: 0% !important;
}

// .login-btn {
//   // background-color: rgb(214, 186, 27) !important;
//   background-color: #09193a !important;
//   color: white;
//   font-weight: 700 !important;
//   width: 150px !important;

//   // box-shadow: 1px 1px 2px 1px rgb(255, 255, 255);
//   &:hover {
//     font-size: 14.5px;
//     background-color: #060f22 !important;
//   }
// }

.timing-record {
  grid-template-columns: 1fr 1fr;
  grid-gap: 5.5% 12.5%;
  display: flex;

  .css-1n4twyu-MuiInputBase-input-MuiOutlinedInput-input {
    width: 100px !important;
  }
}

.save-btn {
  background-color: rgb(0, 222, 0) !important;
  color: #000 !important;
  height: fit-content;
  align-items: center;
  border: none;
}
@keyframes example {
  from {
    margin-right: 15px;
  }
  to {
    margin-right: 0;
  }
}
.success-style {
  color: #5cb85c !important;
  padding: 8px;
  display: flex;
  font-size: 16px;
  align-items: center;
  justify-content: center;
  position: relative;
  animation-name: example;
  animation-duration: 0.4s;
}

.timeline-style {
  margin-top: -40px;
  margin-left: 60px;
  height: 400px;
}

.line-style {
  border-left: 3px dotted rgb(185, 185, 185);
  height: 498px;
}

.sec-line-style {
  border-left: 3px solid rgb(68, 65, 64);
  transition: all 0.3s ease;
  margin-top: -515px;
  margin-bottom: -50px;
}

.dot-series {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 78px;
}

.first-dot {
  margin-left: -27px;

  svg {
    height: 40px;
    width: 60px;
    fill: rgb(255, 136, 0);
    margin-left: 10px;
  }

  img {
    height: 30px;
    width: 50px;

    &:hover {
      width: 51px;
      cursor: pointer;
    }
  }
}

.dot {
  height: 21px;
  width: 30px;
  border-radius: 50%;
  display: inline-block;
  margin-left: -16px;
  // font-weight: 500;
  color: rgb(211, 4, 4);
  text-align: center;

  p {
    margin-left: -16px;
    background-color: #ececec;
    padding: 0px 5px;
    top: 196px;
    width: -moz-fit-content;
    width: fit-content;
    position: absolute;
    margin-left: -12px;
    margin-top: 152px;
    font-size: 13px;
  }

  img {
    // background-image: linear-gradient(to bottom right, rgb(173, 173, 209), rgb(221, 131, 221));
    // background-color: #c0c7d6;
    // background-color: #e6de79;
    background-color: #ececec;
    border-radius: 0px;
    width: 30px;

    &:hover {
      width: 32px;
      cursor: pointer;
    }
  }
}

.card-timeline-container {
  display: flex;
  justify-content: space-between;
}

.btn-container {
  margin: 0 auto;
  width: 20%;
}

.save-btn-container {
  height: 20%;
}

.css-sghohy-MuiButtonBase-root-MuiButton-root.Mui-disabled {
  background-color: #b0b1b4 !important;
}

.week-btn-container {
  height: 80%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: start;
}

.card-heading {
  display: flex;
  justify-content: space-between;
  height: 30px;
  font-size: 20px;
  font-weight: 200;
}

.display-num {
  font-size: 200px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: rgb(129, 25, 25);
  font-family: fantasy;
}

.array-container {
  overflow: hidden;
  background-color: #000;
  display: flex;
  // flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 75%;
}

.video-container {
  width: 25%;
  display: block;
  margin: auto;
  text-align: center;
  justify-content: space-between;
  align-items: center;

  font-weight: 700;

  div {
    // text-align: ;
    font-size: 30px;
    margin-left: 75px;
    justify-content: center;
  }
}

.timer-container {
  height: 95vh;
  width: 85%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.timer-label {
  width: 100%;
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  color: rgb(171, 254, 47) !important;
}

.last-label {
  height: 100vh;
  width: 100%;
  font-size: 80px;
  color: rgb(255, 255, 255) !important;
}

.timer-seconds {
  font-size: 200px;
}

.timer-style {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bg-red {
  // background-color: rgb(200, 23, 23);
  background-color: #fff;
  // background-color: #09193a;

  // background-color: rgb(23, 23, 24);
}

.bg-blue {
  // background-color: rgb(61, 61, 190);
  background-color: #fff;
  // background-color: #09193a;

  // background-color: rgb(23, 23, 24);
}

.bg-end {
  display: flex;
  // background-color: rgb(23, 23, 24);
  // background-color: #000;
  background-color: #fff;
  // background-color: #09193a;
}

.bg-prepare {
  // background-color: green;
  background-color: #000000;
  // background-color: rgb(23, 23, 24);
  // background-image: linear-gradient(to top left, rgb(0, 0, 46), rgb(131, 9, 131));
  // background-image: url(../public/assets/images/timer-img.jpg);
}

.CircularProgressbar .CircularProgressbar-trail {
  stroke: rgb(193, 193, 193) !important;
  stroke-width: 2;
  stroke-linecap: square;
}

.CircularProgressbar {
  width: 600px !important;
}

.CircularProgressbar .CircularProgressbar-path {
  // stroke:  rgb(255, 183, 0)!important;
  stroke-width: 2;
  width: 2px;
  stroke-linecap: square;
}

.CircularProgressbar .CircularProgressbar-text {
  font-size: 60px !important;
  // fill: rgb(255, 173, 30) !important;
  text-anchor: middle !important;
  transform: translate(0, 8px);
  font-variant-numeric: ordinal;
  font-family: "Source Sans Pro";
}

.circular {
  width: 70%;

  &:hover {
    cursor: pointer;
  }
}

// ::-webkit-scrollbar {
//   width: 30px;
// }

.hyd-style {
  width: 90%;
}

.seconds-array {
  font-size: 20px;
  width: 25%;
  margin-top: 90px;
  overflow: auto;
  height: 80vh;

  .current-workout {
    background-color: rgb(225, 9, 9);
    width: 72%;
    font-size: 16px;
    font-weight: 500;
    padding: 10px;
  }

  div {
    margin: 8px auto;
    color: #ffffff;
    display: flex;
    width: 65%;
    background-color: #4c4a4a;
    border: 0.5px solid rgb(56, 54, 54);
    justify-content: center;
    font-size: 14px;
    padding: 8px;

    &:hover {
      background-color: #434343;
      color: #fff;
      cursor: pointer;
      width: 72%;
      font-size: 14px;
    }
  }
}

.close-btn {
  position: fixed;
  right: 20px;
  top: 20px;

  &:hover {
    cursor: pointer;
  }
}

.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: auto;
  flex-wrap: wrap;

  a:-webkit-any-link {
    color: #000;
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
      sans-serif;
    font-weight: 700;
  }
}

.Home-widgets {
  width: 300px;
  height: 200px;
  background-color: #bfc5e2;
  margin: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 1px 2px 1px rgb(156, 152, 152);

  &:hover {
    box-shadow: 2px 0px 2px 0px rgb(156, 152, 152);
    cursor: pointer;
  }
}

.day-workout-container {
  background-color: #4d5056;
  padding: 20px;
  width: 300px;
  height: fit-content;
  margin: 30px auto;
  color: white;

  .Modal-btn {
    margin: 30px auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.day-workouts {
  display: flex;
  margin: 20px;
  flex-direction: column;
}

.Modal-workout {
  margin: 10px;
}

.set-container {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.pause-btn {
  position: absolute;
  right: 96px;
  top: 10px;

  Button {
    width: 50px;
  }
}

.timer-close-btn {
  position: fixed;
  right: 40px;
  top: 0px;
  width: 58px;
  // background-color: #3a547f;
  padding: 10px;
  // background-color: #4d5056;
  border-radius: 50%;

  &:hover {
    cursor: pointer;
    width: 58.5px;
    // background-color: #3c3d3f;
  }
}

.play-pause-btn {
  width: 60px;
  margin-right: 40px;

  &:hover {
    cursor: pointer;
  }
}

.member-details-page {
  width: 70%;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
  margin: 0 auto;

  h2 {
    margin: 25px 0;
    font-size: 21px;
    font-weight: 300;
    text-align: left;
  }

  h5 {
    text-align: left;
    font-size: 16px;
    font-weight: 400;
    // color: #2871c5;
    color: rgba(255, 128, 0, 0.6);
    padding: 0px 0px;
    width: fit-content;
    border-bottom: 1px solid rgba(255, 128, 0, 0.6);
  }
}

.form-section {
  // box-shadow: rgba(152, 124, 124, 0.35) 0px 5px 15px;
  margin: auto;
  padding: 2px 30px 40px 30px;
  background-color: #1d1d1d;
  border-radius: 5px;
}

.fields {
  display: flex;
  gap: 20px;
  align-items: center;
  width: 100%;
}

.timeline-container {
  .MuiStepLabel-horizontal {
    flex-direction: column;
  }
}

.MuiInputBase-input,
.MuiInputBase-root,
.MuiInputLabel-root {
  // color: rgba(255, 128, 0, 0.5)  !important;
  color: rgba(255, 255, 255, 0.6) !important;
}

.MuiInputBase-root {
  // border:1px solid orange !important;
}

.MuiOutlinedInput-notchedOutline {
  border-color: rgba(255, 128, 0, 0.6) !important;
  border-radius: 0px !important;
}

.MuiRadio-root.Mui-checked {
  border-color: rgba(255, 128, 0, 0.6) !important;
}

.MuiButtonBase-root {
  color: rgba(255, 128, 0, 0.6) !important;
}

// .MuiButton-containedPrimary {
// color: #000 !important;
// }

.MuiFormLabel-root {
  color: rgba(255, 255, 255, 0.6) !important;
}
.Mui-completed{
color: #5cb85c !important;
}

.Mui-active{
  color: #fca934 !important;
  // color: #fff !important;
}

.MuiSvgIcon-root {
  width: 20px !important;
}

.card-part {
  background-color: rgba(255, 255, 255, 0.07);
  padding: 30px;
  width: 100%;
  margin: 20px;
  border-radius: 15px;
}

///text animation
///
///

.title-word {
  animation: color-animation 4s linear infinite;
}

.title-word-1 {
  --color-1: #df8453;
  --color-2: #3d8dae;
  --color-3: #e4a9a8;
}

.title-word-2 {
  --color-1: #dbad4a;
  --color-2: #accfcb;
  --color-3: #17494d;
}

.title-word-3 {
  --color-1: #accfcb;
  --color-2: #e4a9a8;
  --color-3: #accfcb;
}

.title-word-4 {
  --color-1: #3d8dae;
  --color-2: #df8453;
  --color-3: #e4a9a8;
}

@keyframes color-animation {
  0% {
    color: var(--color-1);
  }
  32% {
    color: var(--color-1);
  }
  33% {
    color: var(--color-2);
  }
  65% {
    color: var(--color-2);
  }
  66% {
    color: var(--color-3);
  }
  99% {
    color: var(--color-3);
  }
  100% {
    color: var(--color-1);
  }
}

/* Here are just some visual styles. 🖌 */

.container {
  display: grid;
  place-items: center;
  text-align: center;
  height: 100vh;
}

.header-sec {
  display: grid;
  place-items: center;
  text-align: center;
  // height: 100vh
}

.title {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 8.5vw;
  text-transform: uppercase;
}

.header-title {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 15px;
  text-transform: uppercase;
}


//login page changes



.login-image {
  width: 80%;
}

.login-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  margin: auto;
  z-index: 9;
  background-color: #fff;
}

.login-header {
  text-align: left;
  margin: 0 0 0 20px;
  p{
    color: #000  !important;
  }
}

.user-content {
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 50%;
  margin: 40px;
  height: 450px;
  span,label{
    color: #000;
  }
}


.user-content input {
  width: 320px ;
  height: 30px !important;
  border: 1px solid #c6c6c6;
  border-radius: none !important;
  font-size: 14px !important;
  color: #282c34 !important;
  padding: 5px;
}

.user-content input:focus {
  outline: none;

}

.user-content input:visited {
  background-color: #282c34 !important;
}

.user-content button {
  width: 90%;
  height: 35px;
  background-color: rgb(134, 187, 255);
  // background-color: #fff;
  border: none;
  // border: 1px solid rgb(134, 187, 255);
  margin-top: 50px;
  font-size: 14px;
  cursor: pointer;
  margin: auto;
  color: #363636;

  &:hover {
    background-color: rgb(97, 165, 253);
    transition: all .2s ease-in;
  }
}


.title-login-page {
  font-size: 22px !important;
  font-weight: 400;
  margin: 5px 0;
}

.link {
  cursor: pointer;
  font-weight: 600;
  color: #4d4d4d;

  &:hover {
    color: #000;
    text-decoration: underline;
  }
}


//sctoll bar


/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  // background: #bdbcbc; 
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(147, 147, 147, 0.3);

}
 
/* Handle */
::-webkit-scrollbar-thumb {
  // background: #4f4e4e; 
  // border-radius: 20px;

  background-color: rgb(62, 62, 62);
  // outline: 1px solid slategrey;
  // box-shadow: inset 0 0 6px rgba(147, 147, 147, 0.3);

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}



//overlay styles


.overlay {
  transition: all .2s ease-in;
  position: fixed; /* Sit on top of the page content */
  padding: 30px;
  text-align: start;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 80px auto;
  background-color: rgba(0, 0, 0, 0.9); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
  img {
    float: right;
    width: 15px;
    &:hover {
      width: 15.5px !important;
    }
  }
}


.overlay-delete-btns
{
display: flex;
justify-content: space-between;
width: 60%;
margin: auto;
button{
  width: 70px !important;
  height: 30px;
}
}


.update-overlay-btns{
  display: flex;
  width: 60%;
  margin: auto;
justify-content: space-around !important;
  button{
    width: 120px !important;
    height: 40px !important;
  }
}

.home-headings
{
  padding: 0px;
  margin:5px
}

.homepage-card{
  background-color: #242426;
  border-radius: 10px;
  padding: 30px;
  margin: 20px;
}
.dashcard-font
{
font-size: 20px;
color: #000;

}
.dashcard-number
{
font-size: 28px;
font-weight: 400;
color: #000;
}

.dashboard-card{
  // border-radius: 10px;
  display: flex;
  flex-direction: column;
  // gap: 10px;
  align-items: start;
  justify-content: end;
  padding: 10px;
  margin: 20px;
  width: 200px;
  height: 120px;
  align-content: end;
opacity: 100%;
  cursor: pointer;
  &:hover{
    opacity: 80%;
  }
}

.CircularProgressbar {
   width: 70px !important; 
}

.CircularProgressbar .CircularProgressbar-trail {
  stroke: rgb(255, 255, 255) !important;
  stroke-width: 4px;
}

.CircularProgressbar .CircularProgressbar-path {
  // stroke: #474747 !important;
  stroke-width:5px !important;
  stroke-linecap: round;
  transition: stroke-dashoffset 0.5s ease 0s;
}

.CircularProgressbar .CircularProgressbar-text {
  fill: white !important;
  font-size: 26px !important;
  text-anchor: middle !important;
  transform: translate(0, 8px);
  font-feature-settings: "ordn";
  font-variant-numeric: ordinal;
  font-family: "Source Sans Pro";
}

.CircularProgressbar .CircularProgressbar-text {fill:'white'}

th{
  font-size: 14px;
  background-color: #173b38;
  font-weight: 400;
  text-align: start;
}
table{
  margin: 20px 10px 10px 15px;
  border-collapse: collapse;
  width: 100%;
tr{
  background-color: #151b1e;
  &:hover{
    background-color: #081413;
    cursor: pointer;
  }
  td,th{
    padding: 15px;
    color: #c8dcdd;
    text-wrap: nowrap;    
  }
}
}
.avatar{
  width: 50px;
  height: 50px;
  border-radius: 50%!important;
  object-fit: fill;
  padding:0px !important;

}



.view-btn-style{
  padding:10px 30px;
  margin-top: 20px;
  // float: right;
  cursor: pointer;
  // background-color: #225e59;
  // color: white;
}

.membercard-style {
  // background: rgba(13, 13, 57, 0.2);
  background-color: #173b38;
  min-width: 400px;
  min-height: 300px;
margin: 30px;
  // background-image: linear-gradient(to bottom right, rgb(0, 0, 46), rgb(131, 9, 131));
  box-shadow: 2px 1px 2px 1px rgb(27, 26, 26);
  // padding: 30px 40px 20px 40px;
  // height: auto;
  border-radius: 10px;
  &:hover {
    box-shadow: 2px 1px 2px 1px rgb(27, 8, 8);
  }
  }

  .add-btn {
    width: 28px;
    float: right;
    cursor: pointer;
    opacity: 75%;

    &:hover {
      width: 30px;
      opacity: 100%;
      // background-color: green($color: #000000);
    }
  }

  p {
    // color: #000;
    font-size: 16px;
    font-weight: 100;
  }


  .name-style{
font-size: 20px;
font-weight: 300;
&:hover{
  cursor: pointer;
  text-decoration: underline;
  transition: 0.1 ease-in;
}

  }
  .phn-style{
    font-size: 12px;
    font-weight: 500;
    color: #686868;
    
      }
.status-style{
  display: flex;
  padding: 2px 2px;
  border-radius: 5px;
  font-weight: 400;
  font-size: 14px;
  align-items: center;
  align-content: center;
  justify-content: center;
  justify-items: center;
}