    @media only screen and (width: 768px) {
  body {
    background-color: lightblue;
  }
  .header ul a:-webkit-any-link {
    font-size: 12px !important;
    margin-left: 20px !important;
    margin-bottom: 15px;
    text-decoration: none;
    color: rgb(180, 180, 180);
  }
}